{% extends '_base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block title %}Сменить пароль{% endblock %}

{% block staticfile %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
<div class="container form-center">
    <h2>Сменить пароль</h2>

    <form method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='Войти' %}{% endbuttons %}
    </form>
</div>
{% endblock %}

