{% extends "_base.html" %}

{% load bootstrap4 %}

{% block title %}Сброс пароля{% endblock %}


{% block content %}
<div class="container">
    
    <h1>Сброс пароля</h1>
    {% if user.is_authenticated %}
    <p><b>Заметка:</b> вы уже вошли как {{user.email}}</p>
    {% endif %}

    <p>Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-success" type="submit" value="Сбросить мой пароль" />
    </form>

    <p class="pt-3">Свяжитесь с нами, если у вас возникли сложности со сменой пароля.</p>
</div>
{% endblock %}