[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-allauth = "*"
django-bootstrap4 = "*"
pillow = "*"
django-cleanup = "*"
easy-thumbnails = "*"
requests = "*"
beautifulsoup4 = "*"
django-phonenumber-field = "*"
phonenumbers = "*"

[requires]
python_version = "3.7"
