{% extends '_base.html' %}

{% load thumbnail %}
{% load static %}

{% load bootstrap4 %}

{% block title %}{{ user.last_name }} {{ user.first_name }}{% endblock %}

{% block content %}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Предложение обмена с {{ object }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form id="offering_form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                </form>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            <button id="offering_form_submit_button" type="button" class="btn btn-primary">Отпрпвить</button>
            </div>
        </div>
        </div>
    </div>



    <div class="container">
        <div class="row">

            <div class="col-2">
                {% if object.avatar %}
                        <img class="mr-3 img-rounded" src="{% thumbnail object.avatar 'default' %}">
                    {% else %}
                        <img class="mr-3 img-rounded" style="width: 130px; height: 150px;" src="{% static 'img/no-avatar.png' %}">
                    {% endif %}
            </div>

            <div class="col-7">
                <h1>{{ object.last_name }} {{ object.first_name }}</h1>        
                <h3>Город: {{ object.city.name }}</h3>
                <p>Email: {{ object.email }}</p>
            </div>

            <div class="col">
                {% if user == object %}
                    <div class="dropdown open">
                        <a class="btn dropdown-toggle" id="UserSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Настройки
                        </a>
                    
                        <div class="dropdown-menu" aria-labelledby="UserSettings">
                            <a class="dropdown-item" href="{% url 'users:user_update' user.pk %}">Изменить данные</a>
                            <a class="dropdown-item" href="{% url 'account_change_password' %}">Сменить пароль</a>
                        </div>
                    </div>
                
                {% else %}
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Предложить обмен
                  </button>
                {% endif %}
            </div>
        </div>

        <div class="row container">
            <div class="col-6">
                <h3>Мои книги</h3>
                <ul>
                    {% for my_book in object.my_books.all %}
                        <li><a href="{{ my_book.get_absolute_url }}">{{ my_book.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-6">
                <h3>Желаемые книги</h3>
                <ul>
                    {% for desired_book in object.desired_books.all %}
                        <li><a href="{{ desired_book.get_absolute_url }}">{{ desired_book }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        
    </div>


    <script src="{% static 'js/offering_form.js' %}"></script>
{% endblock %}