{% extends '_base.html' %}

{% load thumbnail %}
{% load static %}

{% block title %}{{ book_name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <h1>{{ book_name }}</h1>
            </div>
            <div class="p-2 ml-4">
                {% if user.is_authenticated %}
                    {% if book_name in user.desired_books.all %}
                        <button class="btn btn-danger append_desired" value="{{ book_name.id }}" data-append="False">Удалить из желаемых</button>
                    {% else %}
                        <button class="btn btn-primary append_desired" value="{{ book_name.id }}" data-append="True">Добавить в желаемые</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        
        
        <div class="mt-4 pr-5">
        {% with user_books=user.my_books.all %}
        {% for book in books %}
            <div class="container row ml-5 mr-5 mb-4 p-2 border">
                <div>
                    <a href="{{ book.book_object.get_absolute_url }}">
                        <img src="{% thumbnail book.book_object.img 'book_list' %}" class="img-fluid">
                    </a>
                </div>
                <div class="col">
                    <h4><a href="{{ book.book_object.get_absolute_url }}">{{ book_name }}</a></h4>
                    <p>Автор: {{ book.book_object.author }}</p>
                    <p>ISBN: {{ book.book_object.isbn }}</p>
                    <p>Год издания: {{ book.book_object.year_of_publishing }}</p>
                    <p>Раздел: {{ book.book_object.section }}</p>
                </div>
                <div class="col">
                    <h6>Этой книгой владеют {{ book.city_user.count }} человек:</h6>
                    <ul>
                        {% for holder in book.city_user|slice:":5" %}
                            <li><a href="{{ holder.get_absolute_url }}">{{ holder }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col">
                    {% if user.is_authenticated %}
                        {% if book.book_object in user_books %}
                            <button class="btn btn-danger append_list" value="{{ book.book_object.id }}" data-append="false">Удалить из моего списка</button>
                        {% else %}
                            <button class="btn btn-primary append_list" value="{{ book.book_object.id }}" data-append="true">Добавить в мой список</button>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        {% endfor %}
        {% endwith %}
        </div>
    </div>

    <script src="{% static 'js/book.js' %}"></script>
{% endblock %}